"*":
  "activate-power-mode":
    particles: {}
  "atom-beautify":
    general:
      _analyticsUserId: "2ac94dfb-1f32-4026-b170-e39d5fb02af4"
  atomatigit: {}
  "autocomplete-plus":
    autoActivationDelay: 300
    backspaceTriggersAutocomplete: true
    confirmCompletion: "tab"
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "spell-check"
      "linter-scss-lint"
      "prettier-atom"
    ]
    projectHome: "/Users/matija/Code"
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
  editor:
    fontFamily: "FiraCode-Light"
    fontSize: 15
    invisibles: {}
    preferredLineLength: 100
  "ember-cli-helper":
    pathToEmberExecutable: '''
      /Users/matija/.nvm/versions/node/v4.2.2/bin/ember
      
    '''
  emmet: {}
  "exception-reporting":
    userId: "556c53c5-f426-635f-effd-680c3f2ed664"
  "file-templates": {}
  "git-history": {}
  jshint:
    supportLintingJsx: true
    validateOnlyOnSave: true
  "language-babel":
    babelMapsAddUrl: false
    createTargetDirectories: false
    disableWhenNoBabelrcFileInPath: false
    suppressSourcePathMessages: false
    suppressTranspileOnSaveMessages: false
  linter:
    errorPanelHeight: 25
    showErrorTabLine: true
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    fixOnSave: true
    showRuleIdInMessage: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-sass-lint": {}
  "linter-scss-lint":
    disableWhenNoConfigFileInPath: true
  "linter-stylelint":
    disableWhenNoConfig: true
  "markdown-preview":
    liveUpdate: false
    useGitHubStyle: true
  "merge-conflicts": {}
  minimap: {}
  "one-dark-ui": {}
  pigments: {}
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
    prettierOptions: {}
    useEslint: true
  react:
    enabledForAllJavascriptFiles: true
  "seti-ui":
    compactView: true
    themeColor: "Orange"
  tabs:
    enableVcsColoring: true
  "toggle-quotes": {}
  "travis-ci-status": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".basic.mjml.text":
  editor:
    tabLength: 2
".coffee.jsx.source":
  editor:
    autoIndentOnPaste: false
".gfm.source":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
".git-commit.text":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
".js.jsx.source":
  editor:
    autoIndent: true
".languagebabel.ttlextension":
  editor:
    autoIndent: true
".source.yaml":
  editor:
    softWrap: false
    softWrapAtPreferredLineLength: true
